{% extends 'Tienda_Coder/base.html' %}

{% load static %}


{% block titulo %}
                    <h1 class="display-4 fw-bolder">Sobre Tienda Coder...</h1>
                    
{% endblock %}

{% block contenido %}

<html xmlns="http://www.w3.org/1999/xhtml"> 
<head profile="http://gmpg.org/xfn/1"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="es" />
<title>Acerca de nosotros</title>
  
<script> 
function vermas(id){
if(id=="mas"){
document.getElementById("desplegar").style.display="block";   
document.getElementById("mas").style.display="none"; 
}
else{
document.getElementById("desplegar").style.display="none";
document.getElementById("mas").style.display="inline";
}
}
</script>
</head>

<div class="container px-4 px-lg-5 mt-5">
    <h1>PROTOTIPO DE TIENDA</h1>
    <p>Bienvenido a nuesta pagina, como proyecto final para el curso de Python de Coderhouse decidimos trabajar con un 'prototipo' de tienda para productos tecnologicos.<a href="#" onclick="vermas('mas');" id="mas">...[leer mas]</a></p>

    <p id="desplegar" style="display:none;">Nuestro objetivo princpial era el de crear una pagina a la cual pudiesemos agregar productos de distintas categorias y poder 'reservarlos' hasta que esten disponibles, tambien contando que los usuarios que se registren puedan comentar en el inicio y dar sus opiniones sobre la pagina como tambien buscar productos y reservarlos.
        <br>
<br> Los creadores:
       <br><br>

       Federico Cronchi <br><br>

       Martin Lopez<br><br>

       Rodrigo Lopez Pulzovan <br><br><br>
       <a href="#" onclick="vermas('menos');" id="menos">...[leer menos]</a>
    </p>
</div>
<br><br><br>

<div class="galeria">
    <img height="200px" max-width="200px" src="/media/cons.jpg"/> 
    <img height="200px" max-width="200px" src="/media/juego.jpg"/>
    <img height="200px" max-width="200px" src="/media/perif.jpg"/>
    <img height="200px" max-width="200px" src="/media/codigo.jpg"/>
</div>
<br><br><br>
{% endblock %}