{% extends 'Tienda_Coder/base.html' %}

{% load static %}

{% block titulo %}
                    <h1 class="display-4 fw-bolder">Tienda Coder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Subi tu avatar!</p>
{% endblock %}

{% block contenido %}

{% if errors %}
    <p>Errores encontrados</p>
    <p style="color:red">{{errors}}</p>
{% endif %}

<div class="fromularios">
    <form method="post" enctype="multipart/form-data">
        <h3>Cambia tu foto de perfil!</h3>
        {% csrf_token %}
    
        {{ form.as_p }}
        <br><br>
        <input type="submit" value="Guardar">
       <br>
    </form>
    </div>
    
    {% endblock %}