{% extends 'Tienda_Coder/base.html' %}

{% load static %}

{% block contenido %}
<br>
<section class="mb-5 container">
    <div class="card bg-light">
        <div class="card-body">        
            <h2> Comentarios</h2> <br>
            {% if not listado_comentarios %}
            <h3>Aún no hay comentarios.......</h3>
            {% endif %}
            {% for coment in listado_comentarios %}
            <div class="d-flex marco">
                <div class="flex-shrink-0"><img class="rounded-circle imagen-padding" height="50px" width="50px" src="{{coment.imagen}}" alt="..." /></div>
            <div class="ms-3">
                <div class="fw-bold"><p> {{coment.usuario}} - {{coment.fecha}} </p> </div>
                <h5> {{coment.comentario}} </h5>
            </div>
            </div>
            <br>
            {% endfor %}
        </div class="alineado">
        {% if request.user.is_authenticated %}
        <div class="boton-comentarios">
            <a href='/Tienda_Coder/comentar/'> <button type="submit">Comentar</button></a>
        </div>
        {% endif %}
</section>



{% endblock %}