{% extends 'Tienda_Coder/base.html' %}

{% load static %}

{% block contenido %}
<script>
function myFunction() {
  alert("Comentario publicado correctamente!");
  window.location.href = "/";
}
</script>

    <body class="bg-primary">
        <div class="fromularios fondo">
            <form action="{% url 'comentar' %}" method="POST">
                {% csrf_token %}
                
                <!-- <input type="text" name="comentario"> -->
                <textarea name="comentario" class="form-control" rows="3" placeholder= "Deja tu comentario! (150)"></textarea>
                <br>
                <input type="submit" value="Comentar!" onclick="myFunction()" href="/"> <br>
            </form>
        </div>
    </body>
</html>

{% endblock %}