{% extends 'Tienda_Coder/base.html' %}

{% load static %}

{% block titulo %}
                    <h1 class="display-4 fw-bolder">Tienda Coder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Consolas</p>
{% endblock %}

{% block contenido %}

{% if request.user.is_superuser %}
<a class="btn btn-primary alineado" href="/Tienda_Coder/consola_crear/">Agregar consola</a>
{% endif %}

{% if listado_consolas %}
<p style="text-align: center">Estas son las consolas:</p>
    <ul>
    {% for consola in listado_consolas %}
        <!--<li>Consola: {{consola.nombre}} {{consola.marca}} <img height="100px" width="100xp" src="/media/{{consola.imagen}}" alt="..." /> {% if request.user.is_superuser %} <a href="{% url 'consola_editar' consola.id %}">Editar</a><a href="{% url 'consola_borrar' consola.id %}">⚠Borrar⚠</a> {% endif %} </li>-->
        <div class="job-box d-md-flex align-items-center justify-content-between mb-30 marco">
            <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                    <img height="100px" width="100xp" src="/media/{{consola.imagen}}" alt="..." />
                </div>
                <div class="job-content">
                    <h5 class="text-center text-md-left">{{consola.nombre}} </h5>
                    <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                        <li class="mr-md-4">
                            <i class="zmdi zmdi-pin mr-2">{{consola.marca}}</i> 
                            <i class="zmdi zmdi-money mr-2"></i> $  {{consola.precio}}
                            <br>
                            {% if request.user.is_superuser %} <a href="{% url 'consola_editar' consola.id %}"><button type="submit">Editar</button></a>  <a href="{% url 'consola_borrar' consola.id %}"><button type="submit">⚠Borrar⚠</button></a> {% endif %} 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="job-right my-4 flex-shrink-0">
                <a href="#" class="btn d-block w-100 d-sm-inline-block btn-light">VER ARTICULO</a>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
</section>

{% endif %}

{% endblock %}