{% extends 'Tienda_Coder/base.html' %}
{% load static %}

{% block contenido %}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                    <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" width="450px" height="300px"  src="\media\imagen_consolas\20311.webp" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Polystation</h5>
                                    <!-- Product price-->
                                    <span>$ 5</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a href="{% url 'consola_ver' 1 %}" class="btn btn-outline-dark mt-auto">VER ARTICULO</a></div>
                            </div>
                    </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute"></div>
                    <!-- Product image-->
                    <img class="card-img-top" width="450px" height="300px" src="\media\imagen_periferico\D_NQ_NP_935185-MLA46504064329_062021-O_hroTQe6.webp" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Teclado Redrogon</h5>
                            <!-- Product price-->
                            <span >$150</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="{% url 'periferico_ver' 6 %}" class="btn btn-outline-dark mt-auto">VER ARTICULO</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute"></div>
                    <!-- Product image-->
                    <img class="card-img-top" width="450px" height="300px"  src="\media\imagen_periferico\1539800974_rhrh.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Auriculares Hyper-X</h5>
                            <!-- Product price-->
                            <span>$120</span>  
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="{% url 'periferico_ver' 9 %}" class="btn btn-outline-dark mt-auto">VER ARTICULO</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" width="450px" height="300px"  src="\media\imagen_periferico\Wheel_mouse.jpeg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"> Mouse</h5>
                            <!-- Product price-->
                            $10
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="{% url 'periferico_ver' 8 %}" class="btn btn-outline-dark mt-auto">VER ARTICULO</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute"></div>
                    <!-- Product image-->
                    <img class="card-img-top" width="450px" height="300px"  src="\media\imagen_consolas\family.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Nientiendo 46</h5>
                            <!-- Product price-->
                            <span>$100</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="{% url 'periferico_ver' 8 %}" class="btn btn-outline-dark mt-auto">VER ARTICULO</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" width="450px" height="300px"  src="\media\imagen_periferico\tdmr_control_polystation_00.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Polystation mando</h5>
                            <!-- Product price-->
                            $100
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="{% url 'periferico_ver' 8 %}" class="btn btn-outline-dark mt-auto">VER ARTICULO</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute"></div>
                    <!-- Product image-->
                    <img class="card-img-top" width="450px" height="300px"  src="\media\imagen_periferico\2UN30AA-1_T1638827506.webp" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Teclado HP</h5>
                            <!-- Product price-->
                            <span>$150</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="{% url 'periferico_ver' 7 %}" class="btn btn-outline-dark mt-auto">VER ARTICULO</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top"width="450px" height="300px"  src="\media\imagen_juegos\Car3Ftula_GTA_V_y8jDcPi.webp" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"> GTA V</h5>
                            <!-- Product price-->
                            $150
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="{% url 'juego_ver' 3 %}" class="btn btn-outline-dark mt-auto">VER ARTICULO</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-5 container">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            <!-- {% if request.user.is_authenticated %} -->
            <!-- <form class="mb-4" action="/Tienda_Coder/" method="POST"></form> -->
            <!-- <form action="/Tienda_Coder/comentario/" class="as_p" method="POST"><textarea class="form-control" rows="3" placeholder= "Deja tu comentario! (150)" name="comentario"></textarea> -->
                <!-- {% csrf_token %} -->
                
            <!-- <input type="submit" value="Comentar"> -->
            <!-- </form> -->
            <!-- {% else %} -->
            <!-- SI NO ESTAS LOGUEADO NO APARECE EL BOTON PARA COMENTAR PERO SI VES LOS COMENTARIOS -->
            <!-- <form class="mb-4"><textarea class="form-control" rows="3" placeholder= "Inicia secion o registrate para comentar!"></textarea></form> -->
            <!-- {% endif %} -->
            <!-- MODELO DE COMENTARIO -->
            
            <h2> Comentarios</h2> <br>
                
            {% for coment in listado_comentarios %}
            <div class="d-flex marco">
                <div class="flex-shrink-0"><img class="rounded-circle imagen-padding" height="50px" width="50px" src="{{coment.imagen}}" alt="..." /></div>
            <div class="ms-3">
                <div class="fw-bold"><p> {{coment.usuario}} - {{coment.fecha}} </p>  </div>
                <h5> {{coment.comentario}} </h5>
            </div>
            </div>
            <br>
            {% endfor %}
        </div class="alineado">
        {% if request.user.is_authenticated %}
        <div class="boton-comentarios">
            <a href='/Tienda_Coder/comentar/'> <button type="submit">Comentar</button></a>
        </div>
        {% endif %}
</section>



{% endblock %}