{% extends 'Tienda_Coder/base.html' %}

{% load static %}

{% block titulo %}
                    <h1 class="display-4 fw-bolder">Tienda Coder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Juegos</p>
{% endblock %}

{% block contenido %}

<script>
function myFunction() {
    alert("Agregado al carrito!");
    window.location.href = "/";
}
</script>
    
<li>juego: {{juego.nombre}} {{juego.marca}} <img src="/media/{{juego.imagen}}" alt="..." /></li>
<div class="job-right my-4 flex-shrink-0">
    <a href="{% url 'juego_ver' juego.id %}" class="btn d-block w-100 d-sm-inline-block btn-light" onclick="myFunction()">RESERVAR</a>
</div>
{% endblock %}