{% extends 'Tienda_Coder/base.html' %}

{% load static %}

{% block titulo %}
                    <h1 class="display-4 fw-bolder">Tienda Coder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Perifericos</p>
{% endblock %}

{% block contenido %}
<div class="container px-4 px-lg-5 mt-5"></div>
<h1 style='text-align: center'>Agregar un periferico:</h1>
<form method="post" enctype="multipart/form-data">
    <div class="fromularios">
    {% csrf_token %}

    {{form.as_p}}

    <input type='submit' value='Cargar periferico'>
    <a href='/Tienda_Coder/perifericos/'>Volver</a>
</div>
</form>

{% endblock %}