{% extends 'Tienda_Coder/base.html' %}

{% load static %}

{% block titulo %}
                    <h1 class="display-4 fw-bolder">Tienda Coder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Perifericos</p>
{% endblock %}

{% block contenido %}

<script>
function myFunction() {
    alert("Agregado al carrito!");
    window.location.href = "/";
}
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 foto_art">
            <br /><br />
            <img class="foto_art" src="/media/{{periferico.imagen}}" height="400" width="400" alt="" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm"><br><br>  
                <div class="row marco">  
                    <div class="col-sm-6 col-md-8">            
                        <br>
                        {% if request.user.is_superuser %} <a href="{% url 'periferico_editar' periferico.id %}"><button type="submit">Editar</button></a>  <a href="{% url 'periferico_borrar' periferico.id %}"><button type="submit">⚠Borrar⚠</button></a> {% endif %}
                        <br>

                        <h4>{{periferico.nombre}}</h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{periferico.marca}}
                            <br />
                            <br />
                            $  {{periferico.precio}}
                        </p>
                            <br />
                            <br />
                        <div class="btn-group">
                            <a href="{% url 'periferico_ver' periferico.id %}" class="btn d-block w-100 d-sm-inline-block btn-light" onclick="myFunction()">RESERVAR</a><br><br><br><br> 
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}