{% extends 'Tienda_Coder/base.html' %}

{% load static %}

{% block titulo %}
                    <h1 class="display-4 fw-bolder">Tienda Coder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Perifericos</p>
{% endblock %}

{% block contenido %}

{% if listado_perifericos %}
<p style="text-align: center">Estos son los perifericos:</p>
    <ul>
    {% for periferico in listado_perifericos %}
        <li>periferico: {{periferico.nombre}} {{periferico.marca}} {{periferico.imagen}} {% if request.user.is_superuser %} <a href="{% url 'periferico_editar' periferico.id %}">Editar</a><a href="{% url 'periferico_borrar' periferico.id %}">⚠Borrar⚠</a> {% endif %} </li>
    {% endfor %}
    </ul>
{% else %}
    <p>En este momento no hay perifericos en stock</p>
{% endif %}

{% if request.user.is_superuser %}

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <nav class="navbar navbar-light bg-light static-top">
                    <div class="container">
                        <a class="btn btn-primary" href="/Tienda_Coder/periferico_crear/">Agregar periferico</a>
                    </div>
                </nav>
            </div>                    
        </div>
    </div>
</section>

{% endif %}






{% endblock %}