{% extends 'Tienda_Coder/base.html' %}

{% load static %}

{% block titulo %}
                    <h1 class="display-4 fw-bolder">Unite a la comunidad TC!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Registrate!</p>
{% endblock %}

{% block contenido %}

{% if errors %}
    <p style="color: red">Errores en el registro de usuario: {{errors}}</p>
{% endif %}

<form  method="POST">
<div class="fromularios">
    {% csrf_token %}
    {{ form.as_p }}
<div class="botoncentrado">
    <button type="submit">Registrar usuario</button>
    <a style='text-align: center'; href='/'/>Volver</a>
</div>
</div>
</form>

{% endblock %}